* {
  margin: 0px;
  padding: 0px;
}
.bc_img1 {
  width: 100%;
  height: 500px;
  position: relative;
}

.sif{
    font-size: 30px;
}

.Text_center {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
